source "../rc.d/setup.rc"

push "<enter-command>source rc.d/run-test.rc<enter>"
push "<tag-entry>1<enter><tag-entry><group-alternatives>"
push "<enter-command>source rc.d/attach-two.rc<enter>"
push "<enter-command>source rc.d/start-compose.rc<enter>"

# A group of two attachments as the fundamental part with a third ungrouped attachment
#
#   I     1 <no description>
# - I     2 ├─>/tmp/neomutt-hostname-XXXX-XXXXXX-XXXXXXXXX
#   A     3 └─>attachments/B.txt
#   A     4 attachments/A.txt

# vim: syn=neomuttrc
