source "../rc.d/setup.rc"

push "<enter-command>source rc.d/run-test.rc<enter>"
push "<ungroup-attachment>"
push "<group-multilingual>"
push "<edit-language>de<enter><tag-entry>"
push "<edit-language>fr<enter><tag-entry>"
push "1<enter><edit-language>en<enter><tag-entry>"
push "<enter-command>source rc.d/attach-two.rc<enter>"
push "<enter-command>source rc.d/start-compose.rc<enter>"

# A group of three attachments as the fundamental part ungrouped
#
# - I     1 /tmp/neomutt-hostname-XXXX-XXXXXX-XXXXXXXXX
#   A     2 attachments/A.txt
#   A     3 attachments/B.txt

# vim: syn=neomuttrc
